body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: monospace;
    height: 100vh; 
}

#link {
    display: flex;
    flex-direction: row;
    flex: 1;
    font-size: 2rem;
    width: 32rem;
    height: 16rem;
    padding: 1rem;
    margin: 1rem;
    max-width: 48rem;
    border: 0.2rem black solid;
    border-radius: 2rem;
}

#inspace {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    border-radius: 1rem;
}

#line {
    background-color: white;
    width: 8px;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s ease;
}

a:hover {
    color: #ffe866;
    text-decoration: none;
    cursor: pointer;
}

img {
    height: 8rem;
    width: auto;
}

#docs, #editor {
    display: flex;
    flex-direction: column;
}

#editor {
    margin-top: 2rem;
    margin-left: 6rem;
}

#docs {
    margin-top: 2rem;
    margin-right: 6rem;
    text-align: center;
}

@media screen and (max-width: 732px) {
    #link {
        height: 90vh;
    }
    #inspace {
        flex-direction: column;
    }
    #line {
        height: 0.5rem;
        width: 100%;
    }
    #docs img{
        height: 9rem;
        width: 9rem;
    }
    #docs, #editor {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    #editor {
        margin-top: 4rem;
        margin-left: 0rem;
    }
    
    #docs {
        margin-bottom: 4rem;
        gap: 1rem;
        text-align: center;
    }
}