body {
    font-family: monospace;

    height: 100vh;
    margin: 0;
    padding: 0;
}

img {
    height: 3rem;
    width: auto;
}

button{
    margin: 0;
    padding: 0;
}

nav {
    border-bottom: black 0.1rem solid;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 4rem;
    width: auto;
}

nav button {
    padding: 1rem 2rem 1rem 2rem;
    margin-right: 1rem;
    background-color: #F7DF1E;
    border-radius: 1rem;

    transition: 0.5s ease;
    cursor: pointer;
}

nav button:hover {
    letter-spacing: 0.25em;
    padding: 1.1rem 2.1rem 1.1rem 2.1rem;
    background-color: #fffb00;
    box-shadow: 4px 6px 12px yellow;
}

nav button:active {
    background-color: #e4d03b;
}